	<div class="container">
		<div class="jumbotron text-center">
			<h1>CRUD Application <span class="label label-info">{{todos.length}}</span></h1>
			<p>{{todos.title}}</p>
		</div>
		<div id="todo-list" class="row">
			<div>
				<div class="checkbox" ng-repeat="todo in todos track by $index">
					<button class="btn-xs" ng-click="deleteTodo(todo.id)">Delete</button>
					 	<a type="javascript;"ng-click="showModal(todo.id)">{{$index}}</a>	
						<input type="text" ng-model="todo.name">
						<input type="number" name="ibTodo" ng-model= "todo.age"> 
						<input type="text" name="ibTodo" ng-model= "todo.sex">  
						<input type="text" name="ibTodo" ng-model= "todo.breed"> 
						<button class="btn btn-primary btn-xs" ng-click="editTodo(todo.id, todo.name, todo.age, todo.sex, todo.breed)">Update</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Create</button>
			</div>
		</div>
	</div>